*.iml
/local.properties
#/.idea/caches
#/.idea/libraries
#/.idea/workspace.xml
#/.idea/navEditor.xml
#/.idea/assetWizardSettings.xml


.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties

# 빌드된 애플리케이션 파일
*.apk
*.ap_

# ART/Dalvik VM 파일
*.dex

# Java 클래스 파일
*.class

# 생성된 파일들
bin/
gen/

# Gradle 파일
.gradle/
build/


# Proguard
proguard/

# 로그 파일
*.log

# Android Studio / IntelliJ IDEA - Ignore contents, but not specific important files
.idea/* # .idea 디렉토리 안의 모든 파일/폴더를 무시합니다.
!/.idea/gradle.xml # gradle.xml 파일은 무시하지 않습니다.
!/.idea/misc.xml # misc.xml 파일은 무시하지 않습니다.
!/.idea/modules.xml # modules.xml 파일은 무시하지 않습니다.
!/.idea/vcs.xml # vcs.xml 파일은 무시하지 않습니다.
!/.idea/dictionaries/ # dictionaries 디렉토리는 무시하지 않습니다 (필요에 따라).
# Windows 파일
Thumbs.db

# Kotlin 빌드 폴더
kotlin/

# IntelliJ 출력
out/

# 기타 임시 파일
*.swp
*.swo
*.tmp
